.boutonmenuprincipal {
    background-color: rgb(210,175,119) ;
    color: white;
    border: none;
    cursor: pointer;
    padding:10px;
    margin-top:20px;
    font-size: 15px;
    }
    .boutonmenuprincipal:hover {
    background-color: rgb(93,61,35);
    }
    .dropdown {
    position: relative;
    display: inline-block;
    }
    .dropdown-child {
    display: none;
    background-color: rgb(93,61,35);
    min-width: 50px;
    }
    .dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    }
    .dropdown:hover .dropdown-child {
    display: block;
    }
    * {
        margin: 0;
        padding: 0;
    }